<div class="container login-container">

  <div
    class="panel panel-primary"
    ng-class="{loading: !vm.allowLogin }">
    <div class="panel-heading">
      <h3 class="panel-title">
        Centauri Tac Portal
        <small>v{{ vm.version }}</small>
      </h3>
    </div>

    <div class="panel-body">
      <p>Login with player credentials</p>
      <form ng-submit="vm.login()">

        <div ng-if="vm.error" class="alert alert-danger">
          {{ vm.error }}
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="your@email.com"
            class="form-control"
            ng-disabled="vm.connecting"
            ng-model="vm.email"
            autofocus
            required>
        </div>

        <div class="form-group">
          <input
            type="password"
            placeholder="password"
            class="form-control"
            ng-model="vm.password"
            required>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.remember"> Remember me
          </label>
        </div>

        <button
          type="submit"
          class="btn btn-primary">
          {{ vm.loggingIn ? 'Authenticating' : 'Log In' }}
        </button>
      </form>
    </div>

    <div class="panel-footer">
      <i class="fa fa-lock"></i> {{ vm.authState }}
      <span ng-if="vm.authLatency">
        ({{ vm.authLatency | number }} ms ping)
      </span>
    </div>

  </div>

  <div class="panel"
    ng-class="{
      'panel-success': vm.net.connected && vm.net.ready,
      'panel-warning': vm.net.connected && !vm.net.ready,
      'panel-danger': !vm.net.connected && !vm.net.ready,
    }">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-globe"></i>
        Master Server
      </h3>
    </div>
    <div class="panel-body">
      <div
        class="form-group has-feedback">
        <label>Master URL</label>
        <input
          type="text"
          class="form-control"
          placeholder="e.g http://master-dev.centauri-tac.net"
          ng-change="vm.connect()"
          ng-model="vm.masterURL"
          required>

        <span class="form-control-feedback">
          <i ng-if="vm.net.connected" class="fa fa-check"></i>
          <i ng-if="!vm.net.connected" class="fa fa-exclamation-circle"></i>
        </span>
      </div>
      <div
        class="form-group has-feedback"
        ng-class="{'has-success': vm.net.ready }">
        <label>Realm</label>
        <input
          ng-change="vm.connect()"
          ng-model="vm.realm"
          class="form-control"
          placeholder="e.g local">

        <span class="form-control-feedback">
          <i ng-if="vm.net.ready" class="fa fa-check"></i>
          <i ng-if="!vm.net.ready" class="fa fa-exclamation-circle"></i>
        </span>
      </div>
    </div>

    <div class="panel-footer" ng-if="vm.net.connected">
      <i class="fa fa-cubes"></i> Found {{ vm.net._components.length }}
      active components on this realm
    </div>

    <div class="panel-footer" ng-if="vm.masterError">
      <i class="fa fa-warning"></i> Error: {{ vm.masterError }}
    </div>

  </div>

</div>


