@font-face {
  font-family: LemonMilk;
  src: url("/assets/LemonMilk.otf") format("opentype");
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #37254b;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;

  background-color: #160e15;
}

h1, h2, h3, h4, h5{
  font-family: LemonMilk, sans-serif;
}

a {
  color: #bb3631;
}

.site-content{
  max-width: 1024px;
  min-width: 300px;
  border: 15px solid #8c8a92;
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  margin: 10px auto;
  margin-top: 15px;

  background-color: #ddbe98;
  // background-image: linear-gradient(#ddbe98, #8c8a92);

  box-shadow: inset 0px 0px 0px 15px #ce9f67;
}

.section {
  margin: 0 auto;
  text-align: center;
}

.logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  max-width: 703px;
}

.separator{
  margin-top: 100px;
}

.faction{
  border-top: 1px solid #37254b;
  padding: 30px;
}

.faction-portrait{
  width: 256px;
  display: inline-block;
}
.faction-descrip{
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  max-width: 390px;
}



.stars-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}

.star{
  border-radius: 50%;
  background: #483343;
  position: absolute;
}

.stars1 {
  width: 3px;
  height: 3px;
  // animation: animStar 400s linear infinite;
}

.stars2 {
  width: 5px;
  height: 5px;
  // animation: animStar 300s linear infinite;
}

.stars3 {
  width: 7px;
  height: 7px;
  // animation: animStar 500s linear infinite;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

