<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a ui-sref=".home" class="navbar-brand">
        Centauri Tac
      </a>
    </div>

    <ul class="nav navbar-nav navbar-left">

      <li dropdown ng-repeat="menu in vm.menuLeft">
        <a dropdown-toggle role="button">
          <i class="fa fa-{{ menu.icon }}"></i>
          {{ menu.title }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li
            ng-class="{
              divider: item.divider,
              disabled: item.disabled,
            }"
            ng-repeat="item in menu.items">
            <a
              ng-if="!item.divider"
              ui-sref="{{ item.sref }}">
              {{ item.title }}
            </a>
          </li>
        </ul>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li dropdown>
        <a dropdown-toggle role="button">
          {{ vm.displayName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="vm.logout()">Log out</a></li>
        </ul>
      </li>
    </ul>


  </div>
</nav>

