<div
  class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <i class="fa fa-cubes"></i>
        Log
      </h2>

      <div class="table-filters form-inline">

        <div class="form-group">
          <label>
            <i class="fa fa-globe"></i> Filter
          </label><br>
          <div ng-repeat="option in vm.logFilterOptions">
            <button class="{{ vm.buttonClass(option) }}" ng-click="vm.setRealmFilter(option)">
              <span realm="option"></span>
            </button>
          </div>
          <button class="btn" ng-click="vm.setRealmFilter(null)">(clear filter)</button>
        </div>

      </div>

      <h4>
        {{ vm.filteredLog.length || 0 }} filtered / {{ vm.log.length }} total
      </h4>

      <table
        class="table table-striped"
        ng-table>
        <tr
          ng-class="{danger: false}"
          ng-repeat="component in vm.filteredLog
            | orderBy : 'timestamp'
            ">

          <td
            data-title="'Timestamp'">
            <span>{{ component.timestamp.format("HH:mm:ss.SSS") }}</span>
          </td>

          <td
            data-title="'Level'">
            <span class="badge">{{ component.level }}</span>
          </td>

          <td
            data-title="'Client'">
            <span ng-if="component.key">{{ component.key.clientId  }}</span>
          </td>

          <td
            data-title="'Component'">
            <span ng-if="component.key">{{ component.key.componentName  }}</span>
          </td>

          <td
            data-title="'Message'">
            {{ component.message }}
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
