<div
  class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <i class="fa fa-cubes"></i>
        Component List
        <small>Registered server components</small>
      </h2>

      <div class="table-filters form-inline">

        <div
           dropdown
          class="form-group">
          <label>
            <i class="fa fa-globe"></i> Realm filter
          </label><br>
          <button class="btn btn-default" dropdown-toggle>
            <span ng-if="vm.realmFilter">{{ vm.realmFilter }}</span>
            <span ng-if="!vm.realmFilter">(no filter)</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li ng-repeat="option in vm.realmFilterOptions">
              <a href ng-click="vm.setRealmFilter(option)">
                <span realm="option"></span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href ng-click="vm.setRealmFilter(null)">(clear filter)</a></li>
          </ul>
        </div>

      </div>

      <h3>
        {{ vm.filteredComponents.length || 0 }} components active in the last hour
        <small ng-if="vm.realmFilter">
          Filtered from {{ vm.components.length }} total components
        </small>
      </h3>

      <table
        class="table table-striped"
        ng-table>
        <tr
          ng-class="{danger: !component.isActive}"
          ng-repeat="component in vm.filteredComponents
            | orderBy : 'lastPing':true
            | limitTo : 20
            ">

          <td
            data-title="'component'">
            <span component="component"></span>
            </a>
          </td>

          <td
            data-title="'version'">
            <span class="badge">v{{ component.version }}</span>
          </td>

          <td
            data-title="'realm'">
            <span realm="component.realm"></span>
          </td>

          <td
            data-title="'URL'">
            {{ component.url }}
          </td>

          <td
            data-title="'registered'">
            <span am-time-ago="component.registered"></span>
          </td>

          <td
            data-title="'last ping'">
            <span am-time-ago="component.lastPing"></span>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
