<div
  ng-class="{loading: vm.loading}"
  class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Component List
        <small>Registered server components</small>
      </h2>

      <table
        class="table table-striped"
        ng-table>
        <tr
          ng-repeat="component in vm.components">

          <td
            data-title="'component'">
            <component-link component="component"></component-link>
            </a>
          </td>

          <td
            data-title="'version'">
            v{{ component.version }}
          </td>

          <td
            data-title="'URL'">
            {{ component.url }}
          </td>

          <td
            data-title="'master'">
            <component-link component="component.master"></component-link>
          </td>

          <td
            data-title="'registered'">
            <span am-time-ago="component.registered"></span>
          </td>

          <td
            data-title="'last ping'">
            <span am-time-ago="component.lastPing"></span>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
