<div
  class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <ol class="breadcrumb">
        <li><a ui-sref="app.sm.component-list">Component list</a></li>
        <li>Component detail</li>
      </ol>

      <h2>
        <span 
          component="vm.component" 
          no-link="true"
          show-realm="true"></span>
        <small>
          {{ vm.component.url }}
        </small>
      </h2>
    </div>
  </div>

  <ui-view>
    <p>There's nothing to show here</p>
  </ui-view>

</div>

