<h3>{{ vm.games.length || 0 }} active games</h3>
<table
  class="table table-striped"
  ng-table>
  <tr ng-repeat="game in vm.games">

    <td
      data-title="'name'">
      <span game="game"></span>
    </td>

    <td
      data-title="'hosted on'">
      <span show-realm="true" component="game.component"></span>
    </td>

    <td
      data-title="'players'">
      {{ game.currentPlayerCount }} / {{ game.maxPlayerCount }}
    </td>

    <td
      data-title="'host player'">
      <span player="game.hostPlayer"></span>
    </td>

    <td
      data-title="'registered'">
      <span am-time-ago="game.registered"></span>
    </td>

    <td
      data-title="'last ping'">
      <span am-time-ago="game.lastPing"></span>
    </td>

  </tr>
</table>


