<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Player Auth
        <small>Reference implementation and demo for auth flow</small>
      </h2>
    </div>
  </div>

  <div class="row">

    <div
      ng-repeat="flow in vm.flows"
      class="proto-flow col-sm-{{ 12 / vm.flows.length }}">
      <h3>Player {{ flow.player }}</h3>

      <panel
        title="master"
        icon="globe"
        type="primary">

        <div ng-if="!flow.net.connected" class="clearfix">
          <div class="pull-left">
            <button
              class="btn btn-default"
              ng-click="flow.connect()">
              Connect
            </button>

          </div>
          <div class="pull-left">
            <dl>
              <dt>Master URL</dt>
              <dd><code>{{ flow.net.masterURL }}</code></dd>
              <dt>Realm</dt>
              <dd><code>{{ flow.net.realm }}</code></dd>
            </dl>

          </div>
        </div>

        <div ng-if="flow.net.connected">Components:
          <span ng-repeat="c in flow.net._components">
            <span component="c"> </span>
          </span>
        </div>

      </panel>

      <panel
        ng-if="flow.net.connected"
        title="auth"
        icon="lock"
        type="success">

        <form ng-if="!flow.me" class="form-inline">

          <div class="form-group">
            <label>Email</label>
            <input ng-model="flow.email" type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input ng-model="flow.password" type="password" class="form-control">
          </div>

          <div class="form-group">
            <button
              class="btn btn-default"
              ng-click="flow.auth()">
              Connect
            </button>
          </div>

        </form>

        <div ng-if="flow.me">
          logged in as <span player="flow.me"></span>
        </div>

      </panel>

      <panel
        ng-if="flow.net.token"
        icon="list"
        title="gamelist"
        sub-title="refreshes every 5 seconds">

        <table class="table table-striped" ng-table>
          <tr ng-repeat="game in flow.games">

            <td data-title="'name'">
              <span game="game"></span>
            </td>

            <td
              data-title="'hosted on'">
              <span component="game.gameComponent"></span>
            </td>

            <td
              data-title="'host player'">
              <span player="game.hostPlayer"></span>
            </td>

            <td
              data-title="'players'">
              {{ game.currentPlayerCount }} / {{ game.maxPlayerCount }}
            </td>

          </tr>
        </table>

        <button
          ng-click="flow.joinFirstEmptyGame()"
          class="btn btn-default">Join first empty game</button>
        <button 
          ng-click="flow.createGame()"
          class="btn btn-default">Create game</button>

      </panel>

      <panel
        ng-if="flow.myGame"
        icon="flag"
        title="game"
        >

        <span game="flow.myGame"></span>

        <hr>

        <form>
          <div class="form-group">
            <button
              ng-click="flow.leaveCurrentGame()"
              class="btn btn-default">Leave</button>
          </div>
        </form>

      </panel>


    </div>

  </div>

</div>
