<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Player Auth
        <small>Reference implementation and demo for auth flow</small>
      </h2>
    </div>
  </div>

  <div class="row">

    <div
      ng-repeat="flow in vm.flows"
      class="clearfix proto-flow col-sm-{{ 12 / vm.flows.length }}">
      <h3>
        Player {{ flow.player }}
        <small>
          <input
            ng-model="flow.automatch"
            ng-disabled="flow.net.connected"
            type="checkbox">
            automatch
        </small>
      </h3>

      <panel
        title="master"
        icon="globe"
        type="primary">

        <form ng-if="!flow.net.connected">
          <div class="form-group">
            <label>Master URL</label>
            <input ng-model="flow.net.masterURL" class="form-control">
          </div>

          <div class="form-group">
            <label>Realm</label>
            <input ng-model="flow.net.realm" class="form-control">
          </div>

          <div class="form-group">
            <button
              class="btn btn-default"
              ng-click="flow.connect()">
              Connect
            </button>
          </div>
        </form>

        <div class="clearfix" ng-if="flow.net.connected">Components:
          <span ng-repeat="c in flow.net._components">
            <span component="c"> </span>
          </span>
          <button
            class="btn btn-danger pull-right"
            ng-click="flow.disconnect()">
            Disconnect
          </button>
        </div>

      </panel>

      <panel
        ng-if="flow.net.connected"
        title="auth"
        icon="lock"
        type="success">

        <form ng-if="!flow.net.loggedIn" class="form">

          <div class="form-group">
            <label>Email</label>
            <input ng-model="flow.email" type="email" class="form-control">
          </div>

          <div class="form-group">
            <label>Password</label>
            <input ng-model="flow.password" type="password" class="form-control">
          </div>

          <div class="form-group">
            <button
              class="btn btn-default"
              ng-click="flow.auth()">
              Log in
            </button>
          </div>

        </form>

        <div ng-if="flow.me">
          logged in as <span player="flow.me"></span>
        </div>

      </panel>

      <panel
        ng-if="flow.games !== null"
        icon="list"
        title="gamelist"
        sub-title="available games">

        <button
          ng-disabled="flow.currentGame"
          ng-click="flow.createGame()"
          class="btn btn-default">Create Game</button>

        <button
          ng-disabled="flow.currentGame"
          ng-click="flow.joinAutomatch()"
          class="btn btn-default">Join Automatch</button>

        <table class="table table-striped" ng-table>
          <tr ng-repeat="game in flow.games">

            <td data-title="'game'">
              <span game="game"></span>
            </td>

            <td
              data-title="'hosted on'">
              <span component="game.component"></span>
            </td>

            <td
              data-title="'host player'">
              <span player="game.hostPlayer"></span>
            </td>

            <td
              data-title="'players'">
              {{ game.currentPlayerCount }} / {{ game.maxPlayerCount }}
            </td>

            <td>
              <button
                class="btn btn-default"
                ng-disabled="flow.currentGame || !game.allowJoin"
                ng-click="flow.joinGame(game)">
                join <i class="fa fa-sign-in"></i>
              </a>
            </td>

          </tr>
        </table>

      </panel>

      <panel
        icon="fire"
        type="info"
        ng-if="flow.mmStatus"
        title="matchmaker"
      >

        <h4>
        There are currently
        <span class="label label-success">{{ flow.mmStatus.queuedPlayers }}</span>
        players in automatch.
        </h4>

        <button
          class="btn btn-danger"
          ng-click="flow.cancelAutomatch()">
          Cancel
        </button>

      </panel>

      <panel
        ng-if="flow.currentGame"
        icon="flag"
        title="game"
        >

        <span game="flow.currentGame"></span>

        <hr>

        <form>
          <div class="form-group">
            <button
              ng-click="flow.leaveCurrentGame()"
              class="btn btn-default">Leave</button>
            <button
              ng-click="flow.endTurn()"
              class="btn btn-default">End Turn</button>
          </div>
        </form>

      </panel>


    </div>

  </div>

</div>
